{% include 'views/header.html.twig' %}

<div class="flex row start">
    <form action="{{ path('high_score', {'game': 'twentyone'}) }}" method="post">
        <input class="button small-button" type="submit" name="action" value="Highscore">
    </form>
</div>

<h1>{{ header }}</h1>

<h2>New game</h2>

<form class="" action="{{ path('twentyone_start') }}" method="post">
    <input type="text" name="name" placeholder="Name" required>

    <div class="flex row center">
        <input class="button" type="submit" name="action" value="Start game">
    </div>

</form>

{% include 'twentyone/twentyonefooter.html.twig' %}
