{% include 'views/header.html.twig' %}

<div class="flex row center">
    <div class="flex column center">
        {% include 'parts/yatzy-scoreboard-place.html.twig' %}
    </div>
    {% include 'parts/yatzy-dices.html.twig' %}
</div>

{% include 'views/footer.html.twig' %}
