<form class="flex row center" action="{{ path('yatzy_keep_post') }}" method="post">
    <div class="flex column between">
        {% for dice in graphic %}
            <div class="flex row center no-spacing-h">
                <div class="flex column dice {{ (dice|length == 1) ? 'center' : 'between' }}">
                    {% for row in dice %}
                        <div class="flex row {{ row["spacing"]}} no-spacing-h">
                            {% for _ in 1..row["amount"] %}
                                <div class="dot"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="flex column center">
                    <input class="checkbox" type="checkbox" name="dices[]" value="{{ loop.index0 }}">
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="flex column center">
        <input class="button" type="submit" name="action" value="Keep">
    </div>
</form>
